.footer {
    background-color: $color-secondary;
    grid-column: full-start /full-end;

    padding: 8rem;


    @media only screen and (max-width:$bp-large) {
        grid-column: 1 / -1;
    }
}


.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-display;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;





        &:hover,
        &:active {
            background-color: rgba(#fff, 0.05);
            transform: translateY(-3px);
        }
    }



}


.copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin-top: 6rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}